<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epic Button Game</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
        var color;
        $(document).ready(function(){
            var socket = io();
            socket.on('greeting', function(data, color){
                console.log(color);
                console.log(data.msg)
                if(color != null){
                    document.body.style.backgroundColor = color.color;
                }
                socket.emit('thankyou', {msg: "thank you for connecting me! -Client"});
            });
            $("#green").click(function(){
                color = document.getElementById("green").innerHTML;
                console.log(color);
                socket.emit('color', color);
                return false;
            });
            $("#blue").click(function(){
                color = document.getElementById("blue").innerHTML;
                console.log(color);
                socket.emit('color', color);
                return false;
            });
            $("#pink").click(function(){
                color = document.getElementById("pink").innerHTML;
                console.log(color);
                socket.emit('color', color);
                return false;
            });
            socket.on("clientcolor", function(data){
                console.log(data);
                document.body.style.backgroundColor = data.color;
            });
        })
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center">
                <h1>Real-Time Colors</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 text-center">
                <button id="green" class="btn btn-lg btn-success">Green</button>
                <button id="blue" class="btn btn-lg btn-primary">Blue</button>
                <button id="pink" class="btn btn-lg btn-danger">Pink</button>
            </div>
        </div>
    </div>
</body>
</html>